.top-nav
  %ul
    %li.logo
    %li
      = link_to "home", home_path
    %li
      = link_to "get started", new_account_path
    %li
      = link_to "learn more about us", about_path
    %li
      = link_to "pricing", "#"
    %li
      = link_to "contact", "#"
    - if admin_signed_in?
      %li.admin
        = link_to "manage content", admin_contents_path
      %li.admin
        = link_to "sign out", destroy_admin_session_path, method: :delete
