!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title North Park Financial Planning
    = csrf_meta_tags
    = favicon_link_tag asset_path("logo_ico.png"), rel: "icon", type:  "image/png"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/top_nav"
    .main-content
      = yield
